# RewriteEngine On

#             # /index pointe  vers le contenu de index.php
# RewriteRule ^index$ index.php
#             #      $0/$1/$2
#             # /accueil/ pointe  vers le contenu de AccueilView.php?page=$1
# RewriteRule ^accueil/([a-z0-9-]+)-([0-9]+)$ AccueilView.php?page=$1&id=$2
# RewriteRule ^accueil/([0-9]+)$ AccueilView.php?page=$1

#OU
# RewriteRule ^accueil$ accueil.php
# RewriteRule ^.{0}$ index.php
# RewriteRule ^factures$ view/facture/liste.php
# RewriteRule ^reglement$ view/reglement/liste.php

# RewriteRule ^reglementController$ controller/reglementController.php
# RewriteRule ^factureController$ controller/factureController.php