<?xml version="1.0" encoding="UTF-8" ?>
<phpunit colors="true" testdox="true" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Tests">
            <directory>tests</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory>tests/unitaires</directory>
        </testsuite>
        <testsuite name="Integrations">
            <directory>tests/integrations</directory>
        </testsuite>
    </testsuites>
    

    <!-- <filter>
        <whitelist proceessUncoveredFromWhitelist="true">
            <directory suffix=".php">src/</directory>

        </whitelist>
    </filter> -->

</phpunit>